<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>144242597302-3vpr92c43do8390mv7ihj5lqu7s4idn2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.144242597302-3vpr92c43do8390mv7ihj5lqu7s4idn2</string>
	<key>API_KEY</key>
	<string>AIzaSyB71BNbWudDu7sAVxwkjOC5tKC_2s6-j8o</string>
	<key>GCM_SENDER_ID</key>
	<string>144242597302</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>up.up.must.samplesRabble</string>
	<key>PROJECT_ID</key>
	<string>sample-rabble</string>
	<key>STORAGE_BUCKET</key>
	<string>sample-rabble.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:144242597302:ios:7379fcc3772b4b1cf3f517</string>
	<key>DATABASE_URL</key>
	<string>https://sample-rabble.firebaseio.com</string>
</dict>
</plist>